name: tweet-for-new-transcript

on:
  push:
    branches:
      - master

env:
  # Get your tokens from https://developer.twitter.com/apps
  TWITTER_CONSUMER_API_KEY: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
  TWITTER_CONSUMER_API_SECRET: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
  TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
  TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}

jobs:
  tweet:
    runs-on: ubuntu-latest

    steps:
      - id: files
        uses: Ana06/get-changed-files@v1.2
        with:
          format: 'json'
      - id: variables
        name: Setup variables
        run: |
          # Find the transcript in the added files, if exist
          readarray -t added_files <<<"$(jq -r '.[]' <<<'${{ steps.files.outputs.added }}')"
          for added_file in ${added_files[@]}; do
            if [[ "${added_file}" == *".md" ]] && [[ "${added_file}" != *"_index"* ]]; then
              FILE_PATH=${added_file}
            fi
          done

          if [[ -n "$FILE_PATH" ]]; then
            BASE_URL="https://btctranscripts.com/" # initialize url

            # Determine the language of the changed file
            if [[ $FILE_PATH == *".es.md" ]]; then
              BASE_URL+="es/"
            elif [[ $FILE_PATH == *".pt.md" ]]; then
              BASE_URL+="pt/"
            fi

            echo ::set-output name=FILE_PATH::${FILE_PATH}
            echo ::set-output name=URL::"${BASE_URL}${FILE_PATH%%.*}/" # remove file-type (*.md) from file-name to create the new transcript url
          fi
      - uses: actions/checkout@v3
      - id: transcript
        # This script extracts the neccessary data from the file's metadata
        # to construct the tweet. It replaces names with twitter handles when
        # they are available in `twitter_handles.json`
        name: Extract transcript details
        if: |
          steps.variables.outputs.URL
        run: |
          # Extract Hugo front matter
          TRANSCRIPT=$(cat ${{ steps.variables.outputs.FILE_PATH }})
          FRONTMATTER="${TRANSCRIPT#*---}" # trim through '---' from the front (left)
          FRONTMATTER="${FRONTMATTER%---*}" # trim through '---' from the back (right)
          echo "$FRONTMATTER"

          # Get details
          TITLE=$(echo "$FRONTMATTER" | grep "title")
          TITLE=${TITLE#*title:}
          TRANSCRIPT_BY=$(echo "$FRONTMATTER" | grep "transcript_by")
          TRANSCRIPT_BY=${TRANSCRIPT_BY#*transcript_by: }
          TRANSLATION_BY=$(echo "$FRONTMATTER" | grep "translation_by" || true)
          if [[ -n $TRANSLATION_BY ]]; then
            TRANSLATION_BY=${TRANSLATION_BY#*translation_by: }
          fi
          SPEAKERS=$(echo "$FRONTMATTER" | grep "speakers" || true)
          SPEAKERS=$(echo "$SPEAKERS" | tr -d "\'][")
          SPEAKERS="$(echo ${SPEAKERS#*speakers: } | tr ' ' '_')"

          # Construct tweet title
          TWEET="${TITLE} "
          if [[ -n $SPEAKERS ]]; then
            TWEET+="by "
            SPEAKERS_ARRAY=($(echo $SPEAKERS | tr "," " "))
            for SPEAKER in "${SPEAKERS_ARRAY[@]}"; do
              SPEAKER_NAME=""$(echo ${SPEAKER} | tr '_' ' ' | xargs)""
              SPEAKER_TWITTER=$(cat twitter_handles.json | jq '."'"${SPEAKER_NAME}"'"' --raw-output)
              if [[ $SPEAKER_TWITTER == null ]]; then TWEET+="${SPEAKER_NAME}, "; else TWEET+="@${SPEAKER_TWITTER}, "; fi
            done
            TWEET="${TWEET%??}" # to remove the last `, ` after speakers loop
          fi
          TWEET+=" has been added!"
          echo ::set-output name=TITLE::${TWEET}

          # Construct tweet transcription details
          if [[ $TRANSCRIPT_BY == *"via review.btctranscripts.com"* && -z $TRANSLATION_BY ]]; then
            # Transcript is from review
            TRANSCRIPT_BY=$(echo "$TRANSCRIPT_BY" | awk -F ' via ' '{print $1}') # Extract reviewer's handle
            TWEET="${TRANSCRIPT_BY} just earned sats for reviewing via review.btctranscripts.com"
          else
            TWEET="Transcript by "
            TRANSCRIPT_BY_TWITTER=$(cat twitter_handles.json | jq '."'"${TRANSCRIPT_BY}"'"' --raw-output)
            if [[ $TRANSCRIPT_BY_TWITTER == null ]]; then TWEET+="${TRANSCRIPT_BY}"; else TWEET+="@${TRANSCRIPT_BY_TWITTER} "; fi
            if [[ -n $TRANSLATION_BY ]]; then
              TWEET+=" and translation by "
              TRANSLATION_BY_TWITTER=$(cat twitter_handles.json | jq '."'"${TRANSLATION_BY}"'"' --raw-output)
              if [[ $TRANSLATION_BY_TWITTER == null ]]; then TWEET+="${TRANSLATION_BY}"; else TWEET+="@${TRANSLATION_BY_TWITTER} "; fi
            fi
          fi
          echo ::set-output name=CONTRIBUTORS::${TWEET}

          # add delay to give time to the site to update
          sleep 4m
      - uses: Eomm/why-don-t-you-tweet@v1
        name: Tweet for transcript
        if: |
          steps.variables.outputs.URL
        with:
          tweet-message: "${{ steps.transcript.outputs.TITLE }}\n\n${{ steps.transcript.outputs.CONTRIBUTORS }}\n${{ steps.variables.outputs.URL }}"
